// Styles for single template
.post {
  &-header {
    &:after {
      display: block;
      content: '';
      border-bottom-width: 3px;
      border-bottom-style: solid;
      width: $space-large*2;
      padding-top: $space-small;
      border-bottom-color: $primary;
    }
  }

  &-title {
    font-size: $size-3;
    color: $text-title;
    line-height: 1.5;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  &-footer {
    margin: 1rem 0;
    line-height: 1.8;
  }

  &-tags {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 0;
  }

  &-tag {
    display: inline-block;
    margin: 0 0.5rem 0 0;
    border-radius: $radius;
    padding: $space-small/2 $space-small;
    background: $light;
    font-size: $size-7;

    &:hover {
      background: $grey-lighter;
      box-shadow: 0px 1px 15px 0 rgba(137, 146, 177, 0.15), 0px 10px 20px 0 rgba(137, 146, 177, 0.15);
    }
  }
}
